main{
    font-family: 'Kanit';   
    display: flex;
    justify-content: center;
    margin: 20px;
}

.title1{
    font-size: 45px;
    margin-bottom: 0;
}

.title2{
    font-size: 45px;
    margin-top: 0;
}

