.streak{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streakName2{
    width: 100%;
    margin-bottom: 0px !important;
    font-size: 30px;
    display: flex;
    flex-direction: row;

}

.streakButton2{
    margin: 0px;
    width: 27px;
    height: 27px;
    padding: 0px;
    margin-left: 70px;

}