@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Kanit',
    monospace;
}

:root{
  --mindaro: #FBFFAD;
  --mainPurple: #a846a0;
  --hoverPurple: #782E72;
  --richBlack: #0d1b2a;
  --richBlackHover: #152C44;
  --platinum: #e0e0e2;
  --orangePeel: #FF9F1C;
}
